# MediaServer Config File
# 基本配置
[BASE]
# HTTP端口
PORT=9980
# 最大连接数
MAXCLIENT=100
# 处理线程数目, 一般为cpu内核数目
MAXHANDLETHREAD=1
# 单核每秒处理请求数目
MAXQUERYPERCOPY=0
# 单个HTTP请求超时时间(秒), 0为不超时
TIMEOUT=0
# 统计信息输出时间间隔(秒)
STATETIME=1800
# 进程PID文件路径
PID=run/mediaserver_test.pid

# 日志配置
[LOG]
# 日志级别(0-6, 0:关闭 1:系统错误 2:程序错误 3:警告 4:业务流程 5:详细信息 6:火力全开(所有数据包和变量))
LOGLEVEL=5
# 日志路径
LOGDIR=log/mediaserver_test
# 调试模式(0:关闭, 1:开启)
DEBUGMODE=0

# WebRTC配置
[WEBRTC]
# 媒体流转发起始端口
WEBRTCPORTSTART=14000
# 最大媒体流转发数
WEBRTCMAXCLIENT=100
# 执行转发RTMP的脚本
RTP2RTMPSHELL=/app/live/mediaserver/script/rtp2rtmp.sh
# 执行转发RTMP的地址
RTP2RTMPBASEURL=rtmp://127.0.0.1:4000/cdn_standard
# 执行转发RTP的脚本
RTMP2RTPSHELL=/app/live/mediaserver/script/rtmp2rtp.sh
# 执行转发RTP的地址
RTMP2RTPBASEURL=rtmp://127.0.0.1:4000/cdn_standard
# 证书路径
DTLSCER=/app/live/mediaserver/etc/webrtc_dtls.crt
DTLSKEY=/app/live/mediaserver/etc/webrtc_dtls.key
# 是否等待视频帧才转发
VSYNC=1

# 需要绑定的本地IP(默认为空, 空则自动选择)
ICELOCALIP=127.0.0.1
# STUN服务器的内网IP(默认为127.0.0.1)
STUNSERVERIP=192.168.88.133
# STUN服务器外网IP(用于返回给客户端, 没有则默认和STUNSERVERIP一样)
STUNSERVEREXTIP=192.168.88.133
# [用户名/密码]和[共享密钥]只能2选1, 0表示使用[用户名/密码], 1表示使用[共享密钥]
TURNSTATIC=1
# TURN用户名
TURNUSERNAME=MaxServer
# TURN密码
TURNPASSWORD=123
# TURN共享密钥
TURNSHARESECRET=mediaserver12345
# TURN共享密钥客户端有效时间(秒)
TURNCLIENTTTL=3600

# RTP配置
[RTP]
# 最大PLI间隔(秒)
RTP_PLI_MAX_INTERVAL=3
# 是否开启自适应码率控制(Receive side gcc)
RTP_AUTO_BITRATE=1
# 最小视频码率(bps)
RTP_MIN_VIDEO_BPS=200000
# 最大视频码率(bps)
RTP_MAX_VIDEO_BPS=1000000
# 是否开启模拟丢包
RTP_TEST=0

# Websocket配置
[WEBSOCKET]
# Websocket端口
PORT=9981
# 最大连接数
MAXCLIENT=1000
# 外部上下线校验接口({"status":[0:下线|1:上线], "param":"自定义HTTP-GET参数"})
EXTSETSTATUSPATH=
# 外部同步在线列表接口
EXTSYNCPATH=
