# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.DS_Store

Server/build
Server/sig/etc/m.maxzoon.cn.zip
Server/sig/etc/m.maxzoon.cn/server.crt
Server/sig/etc/m.maxzoon.cn/server.key
Server/sig/etc/maxzoon.cn/server.crt
Server/sig/etc/maxzoon.cn/server.key
Server/sig/etc/www.maxzoon.cn.zip
