# MediaServer Config File
# 基本配置
[BASE]
# 端口
PORT=9880
# 最大连接数
MAXCLIENT=2000
# 处理线程数目, 一般为cpu内核数目
MAXHANDLETHREAD=1
# 单核每秒处理请求数目
MAXQUERYPERCOPY=0
# 单个HTTP请求超时时间(秒), 0为不超时
TIMEOUT=0
# 统计信息输出时间间隔(秒)
STATETIME=600

# 日志配置
[LOG]
# 日志级别(0-5, 0:关闭, 5:全开)
LOGLEVEL=4
# 日志路径
LOGDIR=log/media-server
# 调试模式(0:关闭, 1:开启)
DEBUGMODE=1