# MediaServer Config File
# 基本配置
[BASE]
# HTTP端口
PORT=9880
# 最大连接数
MAXCLIENT=2000
# 处理线程数目, 一般为cpu内核数目
MAXHANDLETHREAD=1
# 单核每秒处理请求数目
MAXQUERYPERCOPY=0
# 单个HTTP请求超时时间(秒), 0为不超时
TIMEOUT=0
# 统计信息输出时间间隔(秒)
STATETIME=1800

# 日志配置
[LOG]
# 日志级别(0-5, 0:关闭, 5:全开)
LOGLEVEL=3
# 日志路径
LOGDIR=log/mediaserver
# 调试模式(0:关闭, 1:开启)
DEBUGMODE=1

# WebRTC配置
[WEBRTC]
# 媒体流转发起始端口
WEBRTCPORTSTART=10000
# 最大媒体流转发数
WEBRTCMAXCLIENT=100
# 执行转发RTMP的脚本
RTP2RTMPSHELL=/home/samson/Max/mediaserver/script/rtp2rtmp.sh
# 执行转发RTMP的地址
RTP2RTMPBASEURL=rtmp://127.0.0.1:4000/cdn_flash/
#RTP2RTMPBASEURL=rtmp://127.0.0.1:8899/publish_flash/
# 证书路径
DTLSCER=/home/samson/Max/mediaserver/etc/webrtc_dtls.crt
DTLSKEY=/home/samson/Max/mediaserver/etc/webrtc_dtls.key
# 需要绑定的本地IP
ICELOCALIP=172.31.16.183
# 需要绑定的本地IP
STUNSERVERIP=172.31.16.183
# TURN用户名
USERNAME=MaxServer
# TURN密码
PASSWORD=123

# Websocket配置
[WEBSOCKET]
# Websocket端口
PORT=9881
# 最大连接数
MAXCLIENT=10000